**/**node_modules
**/**.DS_Store
notes.md
**/.generated/**
**/test
**/test2
**/demo
**/raw
uke_*
!uke_1
!uke_2
!uke_3
uke_3/ukesoppgaver.md
uke_3/ukesoppgaver_no_solution.md
test-uke-1
**/*-self-notes.md
**/*tekst.md
**/ukens-plan.md
**/forelesning.md
**/archive